<div class="container my-5">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Number Of Tasks
                </th>
                <th>
                    Last Execution Date
                </th>
                <th>
                    Nearest Execution Date
                </th>
                <th>

                </th>
            </tr>
    
        </thead>
        <tbody>
            <tr *ngFor="let user of users ">
                <th>
                    {{user.email}}
                </th>
                <th>
                    {{user.numberOfTasks}}
                </th>
                <th>
                    {{user.lastExecutionDate}}
                </th>
                <th>
                    {{user.nextExecutionDate}}
                </th>
                <th>
                    <a class="nav-link"[routerLink]="['userUsageHistory']" routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact: true}" [queryParams]="{'email': user.email}">Show usage history</a>
                </th>
            </tr>
        </tbody>
    </table>
    <a class="nav-link"[routerLink]="['usageHistory']" routerLinkActive="active" 
    [routerLinkActiveOptions]="{exact: true}">History</a>
</div>
